﻿.cms-hide{display:none;}
.cms-editview-style{}
.cms-text-style{display:inline}
.cms-buttons-style{display:inline}
.cms-updateview-style{color:black;}

table.cms-table-inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
  border: #e1dede solid 1px;
  border-radius: 5px;
}
table.cms-table-inline tbody tr td {
    display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  margin-right:7px;
}
table.cms-table-inline tbody tr td label,table.cms-table-inline tbody tr td input{
    float:left;
    
}

.left_div {
float:left;
width:30%;
}
.right_div {
float:right;
width:70%;
display:inline-flex;
}

.span12 .left_div {
    float:left;
width:30%;
}

.span12 .right_div {
    float:right;
width:70%;
display:inline-flex;
}

.half_div {
float:left;
width:50%;
display:inline-flex;
}

.autocompletelist, .Autocompletelistsmall {
    border: 1px solid #a3a3a3;
    list-style-type: none;
    margin: 0px 0 0 -1px;
    background-color: #fff;
    text-align: left;
    font-size:14px;
    vertical-align:middle;
    color: #282828;
    z-index:9999;
    width:523px !important;
    }
    .autocompletelistitemsmall{ padding:3px;}
    .hoverautocompletelistitemsmall { background:#FFCCCC; cursor:pointer; color:#000; padding:3px;} 
    
    
    ul.autocompletelist li {
    padding: 2px 0px;font-size:16px; background:#ccc;
    }
    .autocompletelistitem {
    color: #333; background:#ccc;
    }
    .hoverautocompletelistitem {
    background-color: #ccc;
    cursor:default;
    }